{
  "env": {
    "browser": true,
    "node": true ,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "global": {
   "assert": false,
   "cipher": false 
  }
}
